page-recover-password {

    .main-content {
        height: 100%;
        // max-height: 750px;
        margin-bottom: 16px;
    }

    .form-container {
        display: flex;
        flex-direction: row;
    }
    .left-column {
        width: 50%;
    }
    .right-column {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .img-form {
        height: 500px;
        border-radius: 8px;
    }

    .info-recover {
      font-size: 10px;
      color: grey;
    }

}
