page-item-detail {

  .item-content {
    height: 100%;
  }

  .item-profile {
    width: 40%;
  }

  .item-detail {
    width: 100%;
    background: white;
    // position: absolute;
  }

  .second-item-content {
    display: flex;
    .card-container-first {
      max-width: 30%;
      width: 100%;
    }
    .card-container-second {
      max-width: 30%;
      width: 100%;
    }
    .card-container-third {
      max-width: 40%;
      width: 100%;
    }
  }
  .list-content {
    display: flex;
    align-items: center;
    white-space: normal !important;
    .img-pdf {
      width: 40px;
      margin: 16px;
    }
  }
  .card-canvas {
    max-height: 500px;
    height: auto;
  }
  .card-diets {
    max-height: 500px;
    height: auto;
    overflow: scroll;
  }

  .title-card {
    font-size: 18px;
    font-weight: bold;
  }

  .subtitle-card-diets {
    padding: 0px 16px;
    .text-subtitle {
      font-size: 13px;
    }
  }

  .observations-content {
    white-space: normal !important;
    font-size: 12px;
  }
}
