page-item-detail {

  .item-content {
    height: 100%;
  }

  .item-profile {
    width: 40%;
  }

  .item-detail {
    width: 100%;
    background: white;
    // position: absolute;
  }

  .second-item-content {
    display: flex;
    flex-direction: column;
    .first-item-container {
      display: flex;
      flex-direction: row;
      .card-container-first {
        max-width: 50%;
        width: 100%;
      }
      .card-container-second {
        max-width: 50%;
        width: 100%;
      }
    }
    .card-container-third {
      max-width: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      .crearCita {
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        .text-content-cita {
          width: 80%;
        }
      }
    }
  }
  .list-content {
    display: flex;
    align-items: center;
    white-space: normal !important;
    .img-pdf {
      width: 40px;
      margin: 16px;
    }
  }
  .card-canvas {
    max-height: 500px;
    height: auto;
  }
  .card-diets {
    max-height: 500px;
    height: auto;
    overflow: scroll;
  }

  .title-card {
    font-size: 18px;
    font-weight: bold;
  }

  .subtitle-card-diets {
    padding: 0px 16px;
    .text-subtitle {
      font-size: 13px;
    }
  }

  .observations-content {
    white-space: normal !important;
    font-size: 12px;
  }
}

.form-button {
  display: flex;
  justify-content: end;
  margin: 8px;
}

@media (min-width: 1080px) {
  .second-item-content {
    .card-container-third {
      max-width: 100% !important;
      .crearCita {
        display: flex;
        justify-content: center;
        align-items: center;
        .text-content-cita {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .second-item-content {
    .card-container-third {
      max-width: 100% !important;
      display: flex;
      flex-direction: column !important;
      .crearCita {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        .text-content-cita {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .second-item-content {
    .card-container-third {
      max-width: 100% !important;
      .crearCita {
        display: flex;
        justify-content: center;
        align-items: center;
        .text-content-cita {
          width: 80%;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .second-item-content {
    // background-color: green;
    .first-item-container {
      display: flex;
      flex-direction: column !important;
      justify-content: center !important;
      .card-container-first {
        max-width: 100% !important;
        .card-canvas {
          max-height: 100% !important;
        }
      }
      .card-container-second {
        max-width: 100% !important;
      }
    }
  }
}