page-item-detail {

  .item-content {
    height: 100%;
  }

  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    // position: absolute;
  }

  .second-item-content {
    display: flex;
    .card-container {
      max-width: 50%;
      width: 100%;
    }
  }
  .list-content {
    display: flex;
    align-items: center;
    .img-pdf {
      width: 40px;
      margin: 16px;
    }
  }
}
