page-dashboard {
  .overview {
    background: url('../assets/img/italian-cuisine-2378729_1280.webp') repeat transparent;
    background-size: 100%;
    .content-initial {
      display: flex;
      justify-content: center;
      .first-content {
        padding: 40px;
        background-color: white;
        border-radius: 4px;
        width: auto;
        height: auto;
        max-height: 250px;
        max-width: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      .title-dashboard {
        font-size: 27px;
        font-weight: bold;
      }
      .subtitle-dashboard {
        font-size: 15px;
      }
    }
  }
  .second {
    .content-align {
      display: grid;
      justify-items: center;
    }
    .title-dashboard-sec {
      width: 80%;
      font-size: 22px;
      font-weight: bold;
      margin-top: 22px;
      display: flex;
      justify-content: center;
      width: auto;
      max-width: 1024px;
    }
    .content-initial {
      display: flex;
      align-items: center;
      width: auto;
      max-width: 1024px;
      justify-content: center;
      .second-content {
        padding: 30px;
        background-color: white;
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      .third-img {
        // width: 40%;
        .third {
          background: url('../assets/img/analytics-3265840_1280.jpg') no-repeat;
          background-size: 100%;
          height: 330px;
          width: 500px;
          border-radius: 4px;
        }
      }
      .second-content-button {
        width: 20%;
      }
      .third-content {
        width: 60%;
      }
      .title-dashboard {
        font-size: 27px;
        font-weight: bold;
      }
      .subtitle-dashboard {
        font-size: 15px;
      }
      .subtitle-dashboard-sec {
        font-size: 14px;
      }
    }
  }

  .info-content {
    display: flex;
    justify-content: row;
    // background-color: map-get($colors, acie-border);
    background-color: #e2e2e27a;
  }
  .chart-content {
    display: flex;
    width: 40%;
    .description-chart-pie {
      margin: 4px;
      font-weight: lighter;
    }
    .info-chart-pie {
      font-size: 12px;
      font-weight: lighter;
      margin-bottom: 16px;
    }
    .canvas-graph {
      max-width: 600px !important;
      max-height: 300px !important;
    }
  }
  .bar-content {
    display: flex;
    width: 60%;
    .canvas-graph-bar {
      width: auto;
      max-height: 400px;
    }
  }

  @media (max-width: 1080px) {
    .second {
      .content-initial {
        display: flex;
        flex-direction: column;
      }
    }
  }
  @media (max-width: 480px) {
    .second {
      .content-initial {
        .second-content {
          padding: 20px 10px;
          width: 100%;
        }
      }
    }
  }
}
