page-dashboard {
  .content-dashboard {
    display: flex;
  }
  .left-menu {
    width: 15%;
    background-color: #e2e2e247;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    .profile-css {
      padding: 16px;
      display: flex;
      flex-direction: row;
      margin: 16px auto;
      border-top: 2px solid #6cd5c0;
      border-bottom: 2px solid #6cd5c0;
      .img-menu {
        max-width: 40px;
        max-height: 40px;
        width: 100%;
        height: 100%;
        opacity: 40%;
      }
      .txt-menu {
        margin-left: 16px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .profile-css-2 {
      padding: 16px;
      display: flex;
      flex-direction: row;
      margin: 16px auto;
      //border-top: 2px solid #6cd5c0;
      border-bottom: 2px solid #6cd5c0;
      .img-menu {
        max-width: 40px;
        max-height: 40px;
        width: 100%;
        height: 100%;
        opacity: 40%;
      }
      .txt-menu {
        margin-left: 16px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  .text-menu {
    margin-left: 16px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  .right-content {
    width: 85%;
    margin-left: 15%;
  }
  .overview {
    background: url('../assets/img/italian-cuisine-2378729_1280.webp') repeat transparent;
    background-size: 100%;
    .content-initial {
      display: flex;
      justify-content: center;
      .first-content {
        padding: 40px;
        background-color: white;
        border-radius: 4px;
        width: auto;
        height: auto;
        max-height: 250px;
        max-width: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
      .title-dashboard {
        font-size: 27px;
        font-weight: bold;
      }
      .subtitle-dashboard {
        font-size: 15px;
      }
    }
  }
  .menu-dashboard {
    display: flex;
  }
  .second {
    .title-dashboard-sec {
      font-size: 22px;
      font-weight: bold;
      margin-top: 22px;
      // display: flex;
      // justify-content: center;
      width: auto;
    }
    .content-initial {
      width: auto;
      .second-content-button {
        width: 20%;
      }
      .third-content {
        width: 60%;
      }
      .title-dashboard {
        font-size: 27px;
        font-weight: bold;
      }
      .subtitle-dashboard {
        font-size: 15px;
      }
      .subtitle-dashboard-sec {
        font-size: 14px;
      }
    }
  }

  .info-content {
    display: flex;
    justify-content: row;
    // background-color: map-get($colors, acie-border);
    // background-color: #e2e2e27a;
  }
  .chart-content {
    display: flex;
    width: 40%;
    .description-chart-pie {
      margin: 4px;
      font-weight: lighter;
    }
    .info-chart-pie {
      font-size: 12px;
      font-weight: lighter;
      margin-bottom: 16px;
    }
    .canvas-graph {
      max-width: 600px !important;
      max-height: 300px !important;
      width: 100% !important;
      height: 100% !important;
    }
  }
  .bar-content {
    display: flex;
    width: 60%;
    .canvas-graph-bar {
      width: auto;
      max-height: 400px;
    }
  }

  @media (max-width: 1080px) {
    .second {
      .content-initial {
        display: flex;
        flex-direction: column;
      }
    }
  }
  @media (max-width: 480px) {
    .second {
      .content-initial {
        .second-content {
          padding: 20px 10px;
          width: 100%;
        }
      }
    }
  }
}
