<!-- Generated template for the VitalittyFooterComponent component -->
<footer class="acie-footer-container linear-x center-items">
  <div class="acie-footer-wrapper linear-x center-items wrap">
      <!-- <img src="./assets/img/ian-avatar.png"> -->
      <div class="acie-footer-links-container linear-x center-items">
          <writter class="acie-footer-link" value="VITALITTY"></writter>
          <writter class="acie-footer-link" value="Todos los derechos reservados"></writter>
          <!-- <spannable-text class="acie-footer-company-name" [basicConfig]="companyName" (spanClicked)="goToAvanzaEmpresas()"></spannable-text> -->
      </div>
  </div>
</footer>
