// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../theme/structural.scss";
$web-header-height: 56px;
$web-footer-height: 64px;
.acie-app-viewport {
  width: 100vw;
  height: 100vh;
  @import "../theme/web-body-styles.scss";
  &.web.ie {
      ion-content {
          .scroll-content {
              justify-content: space-between !important;
              position: initial !important;
              height: calc(100% - $web-footer-height);
          }
      }
  }
  &.web.ie.edge {
      ion-content {
          .scroll-content {
              justify-content: space-between !important;
              position: absolute !important;
              height: auto;
          }
      }
  }
  ion-nav {
      transition-duration: .6s;
      left: 0;
  }
  ion-nav.moveToLeft {
      transition-duration: .6s;
      left: 70vw;
  }
  body {
    font-family: 'Roboto', sans-serif;
    background-color: map-get($colors, 'mapfre-gray-border');
    }
    ion-content .scroll-content {
    overflow-y: auto !important;
    }

    ion-content.bg-grey {
        .scroll-content {
            background-color: map-get($colors, 'mapfre-gray-background') !important;
        }
    }

    @media only screen and (min-width: 760px) and (min-height: 400px) {
        .modal-popup .modal-wrapper {
            left: calc(50% - (300px/2)) !important;
            top: calc(50% - (65vh/2)) !important;
            width: 300px !important;
            height: 65vh !important;
            .calendar-header {
                margin-top: 15px;
            }
        }
        .modal-info .modal-wrapper {
            left: calc(50% - (400px/2)) !important;
            top: calc(50% - (65vh/2)) !important;
            width: 400px !important;
            height: 65vh !important;
            .calendar-header {
                margin-top: 15px;
            }
        }
    }
    
    @media screen and (max-width: 760px) {
        ion-app.app-root {
            width: 100%;
            margin: 0;
        }
    }
    
    @media all and (min-width: 1340px) {
        ion-app.app-root {
            width: 70%;
            margin: 0 15%;
        }
    }
    
    @media screen and (min-width: 760px) {
        ion-footer {
            padding: 0 !important;
            &.block {
                padding: 0 !important;
            }
        }
        .mat-datepicker-toggle {
            right: 0;
            top: 30px;
            position: absolute;
            z-index: 1;
        }
    }
    
    @media screen and (min-height: 500px) and (max-height: 700px) {
        // .card ion-card-content {
        // padding: 7px 13px !important;
        // }
    }
    
    @media screen and (min-height: 700px) {
        .card ion-card-content {
            padding: 13px 16px !important;
        }
    }

    ion-footer .col-segment-tab {
        height: 60px !important;
        padding: 0 !important;
    }
    
    ion-header.header-ios {
        padding-top: env(safe-area-inset-top) !important;
    }
}
