writter {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  &.block {
      display: block;
  }
  &.text-width {
      width: 100%;
      text-overflow: ellipsis;
      // white-space: nowrap;
      overflow: hidden;
  }
  .text:not([info-label='']) {
      position: relative;
      &:hover::after {
          content: attr(info-label);
          position: absolute;
      }
  }
}
