page-signup {
  .back-image {
    background: url('../assets/img/italian-cuisine-2378729_1280.webp') repeat transparent;
  }
  background-color: #488aff;
    .img {
        border-radius: 50%;
      }
      .fileInput {
        cursor: pointer;
        height: 128px;
        position:absolute;
        top: 0;
        right: 0;
        z-index: 99;
        /*This makes the button huge. If you want a bigger button, increase the font size*/
        font-size:50px;
        /*Opacity settings for all browsers*/
        opacity: 0;
        -moz-opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
      }

      .formRegister {
        margin-top: 56px;
      }

      .form-input-register {
        background: transparent;
        .input-form {
          color:white;
        }
        input {
          color: white;
        }
      }

      .header-wrapper {
        width: 100%;
        overflow: hidden;
        display: flex;
        background-color: transparent !important;
        .header {
          background-color: transparent !important;

          padding: 20px;
          width: 100%;
          display: flex;
          align-items: center;
          .img-signup {
            height: 25px;
          }
          .action-url {
            display: flex;
            justify-content: end;
            font-size: 15px;
            line-height: 15px;
          }
        }
      }

    .splash-logo {
      margin: auto;
      background: url('../assets/img/Logo1-800x800.jpg') repeat transparent;
      background-size: 100%;
      width: 128px;
      height: 90px;
    }

    .splash-info {
      position: relative;
      z-index: 2;
      margin-top: -64px;
      text-align: center;
    }

    .splash-bg {
      position: relative;
      background: url('../assets/img/adventure-1807524_1280.webp') no-repeat transparent;
      background-size: cover;
      height: 45%;
      z-index: 1;
      background-repeat: repeat-x;
      // animation: animatedBackground 10s linear infinite;
    }
}
