<!-- Generated template for the AccordionComponent component -->
<ion-card>
  <ion-card-header class="card-header" (click)="toggleAction(true)">
    <p class="title_accordion">{{text_title}}</p>
    <img *ngIf="isActive" class="img-icon" src="../../assets/icon/flecha-hacia-arriba.png" width="20px" height="20px">
    <img *ngIf="!isActive" class="img-icon" src="../../assets/icon/flecha-hacia-abajo.png" width="20px" height="20px">
  </ion-card-header>
  <ion-card-content #first>
    <p>{{text_description}}</p>
    <p>{{optional_text}}</p>
    <p>{{optional_text_2}}</p>
  </ion-card-content>
</ion-card>
