<!-- Generated template for the AccordionComponent component -->
<ion-card>
  <ion-card-header (click)="toggleAction(true)">
    <p>Título de la politica</p>
  </ion-card-header>
  <ion-card-content #first>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione repellat temporibus excepturi architecto maiores velit veritatis corrupti debitis esse obcaecati, exercitationem quasi reprehenderit deserunt! Eaque eius veritatis vel aspernatur modi.</p>
  </ion-card-content>
</ion-card>
